.container{
    background-color: whitesmoke;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social{
    position: sticky;
    top: 0;
    background-color: green;
    border: 2px solid #4CAF50;
}
.paralax{
    background-color: white;
    margin-top: 3rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
}
.paralaxTextWrap{
    display: flex;
    flex-direction: column;
}
.top{
    margin-top:-40rem;
    width: 100%;
}
.fullWidth{
    width: 100%;
}
.noBackground{
    background-color: unset;
}
.email{
    margin-top: 5rem;
}
.paralaxContainer{

    display: flex;
    align-items: center;
    justify-content: center;
}
.paralaxContent{
    padding: 2rem;
    font-size:1.5rem;
    color: rgb(82, 82, 82);
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow{
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s;
    color: rgb(82, 82, 82);
}
.highlight{
    color: var(--highlightColor);
}
.arrow:hover{
    color: var(--highlightColor);
}
.bottomBg{
    position: relative;
    display: flex;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }

.paralaxPop{
    animation: popup ease 2s;
  }
  
  @keyframes popup {
    0%{
      transform: scale(0.1);
    }
    100%{
      transform: scale(1);
    }
  }
