.container {
    display: flex;
    justify-content: space-around;
   
}
.container a {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
   
}
.container a h1{
    color: var(--primaryColor);
    text-decoration: none;
    font-size: 3rem;
}