.container{
    background-color: whitesmoke;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.horizontalScrollRight{
    margin-top: 20rem;
    display: flex;
    flex-direction: row;

}
.horizontalScroll{
    display: flex;
    flex-direction: row;
}
.paralax{
    background-color: white;
    padding: 0rem 2rem;
    margin-top: 3rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25rem;
    width: 50vw;
}
.paralax > div {
    max-width: 80%;
}
.top{
    margin-top: unset;
    background-color: unset;
    margin-top: unset;
    width: 100vw;
    border-radius: unset;
    margin-bottom: 5rem;
}
.noBackground{
    margin-top: unset;
    background-color: unset;
    margin-top: unset;
    width: 100vw;
    max-height: 10rem;
    border-radius: unset;
}
.email{
    cursor: url(../../images/click.png),auto
}
.paralaxContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.paralaxContent{
    max-width: 25rem;
    padding: 2rem;
    font-size: 2.5rem;
    font-weight: 600;
    color: rgb(82, 82, 82);
    align-self: center;
}
.highlight{
    color:var(--highlightColor)
}
.contact{
    background-color: unset;
}
.rotate{
    max-width: 150px;
}
.mobileImage{
    width: 100vw;
}
@media only screen and (max-width: 1200px) {


}
  @media only screen and (max-width: 1024px) {
    .paralax{
        width: 70vw;
        padding: 0rem 2rem;
    }
    .mobile{
        height: 100%;
        
    }
    
    .paralaxContent{
        font-size:1.5rem;
        padding: 0.5rem 2rem;
        width: 100%;
    }
    .paralaxContainer{
        display: flex;
        flex-direction: column;
    }
    .paralaxContainer > div > svg{
        max-height: 15rem;
    }
    .email{
        margin-bottom: 15rem;
    }
  }

  @media only screen and (max-width: 768px) {
    .paralax{
        padding: 0rem 2rem;
    }
    .paralax > div {
        width: 80%;
    }
    .paralaxContent{
        font-size:1.5rem;
        padding: 0.5rem 2rem;
    }
    .email{
        margin-bottom: 10rem;
    }
  }
  @media only screen and (max-width: 480px) {
    .paralax{
        padding: 0rem 2rem;
    }
    .paralaxContent{
        font-size:1.2rem;
        padding: 0.5rem 0rem;
    }
    .email{
        margin-bottom: 5em;
    }
  }
  @media only screen and (max-width: 380px) {
    .paralax{
        width: 70vw;
    }
    .mobileImage{
        width: 90vw;
    }
    .paralaxContent{
        font-size:1.1rem;
    }
    .email{
        margin-bottom: unset;
    }
  }