.container{
    background-color: whitesmoke;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.horizontalScrollRight{
    margin-top: 8rem;
    display: flex;
    flex-direction: row;
}
.horizontalScroll{
    display: flex;
    flex-direction: row;
}
.paralax{
    background-color: white;
    margin-top: 3rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    height: 25rem;
    width: 50vw;
}

.top{
    margin-top: unset;
    background-color: unset;
    margin-top: unset;
    width: 100vw;
    border-radius: unset;
    margin-bottom: 5rem;
}
.noBackground{
    margin-top: unset;
    background-color: unset;
    margin-top: unset;
    width: 100vw;
    max-height: 10rem;
    border-radius: unset;
}
.email{
    margin-top: 5rem;
}
.paralaxContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.paralaxContent{
    max-width: 25rem;
    padding: 2rem;
    font-size: 2.5rem;
    font-weight: 600;
    color: rgb(82, 82, 82);
    align-self: center;
}
.highlight{
    color:#5D68F8;
}